<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SPNameingRule" value="MSSQL" />
    <add key="DBParameterLog" value="False" />
    <add key="EntityLog" value="False" />
    <add key="WEBMemoryLog" value="False" />
    <add key="WEBParamLog" value="False" />
    <add key="ExceptionType" value="TEXT" />
    <add key="QueryFormat" value="dbo.USP_{0}_{1}" />
    <add key="EnableCacheParameter" value="True" />
    
    <add key="PPService_IP" value="127.0.0.1" />
    <add key="PPService_Port" value="9001" />

    <add key="AtmanService_IP" value="127.0.0.1" />
    <add key="AtmanService_Port" value="9002" />

    <add key="XingService_IP" value="127.0.0.1" />
    <add key="XingService_Port" value="9003" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>